<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    <bean id="myLoggerConfig" class="io.bilakhiya.springproject.depinjection.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
    
    <bean id="containedClassConstructor" class="io.bilakhiya.springproject.depinjection.GameCityName"></bean>
    
    <bean id="Player" class="io.bilakhiya.springproject.depinjection.KabbadiPlayer" >
    <constructor-arg ref="containedClassConstructor" />
    </bean>
    
    
    <bean id="containedConstr2" class="io.bilakhiya.springproject.depinjection.GameTimeHandler"></bean>
    
    <bean id="Player2" class="io.bilakhiya.springproject.depinjection.KabbadiPlayer"> 
    <constructor-arg ref="containedConstr2" />
    </bean>
    
    <bean id="containedConstr3" class="io.bilakhiya.springproject.depinjection.Class_3rdConstructor"></bean>
    <bean id="Player3" class="io.bilakhiya.springproject.depinjection.KabbadiPlayer">
    <constructor-arg ref="containedConstr3" />
    </bean>
    
</beans>

